
<div id="contract-show">
    <div class="columns is-desktop">
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-list"></i>
                        </span>
                        Contract Details
                    </p>
                </header>
                <div class="card-content is-paddingless">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>Title:</strong></td>
                                <td><%= @contract.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Number:</strong></td>
                                <td><%= @contract.number %></td>
                            </tr>
                            <tr>
                                <td><strong>Contract Type:</strong></td>
                                <td><%= @contract.contract_type_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Initial Term:</strong></td>
                                <td><%= @contract.initial_term_amount %> <%= @contract.initial_term_duration_humanize %><%= @contract.initial_term_amount > 1 ? "s" : "" %></td>
                            </tr>
                            <tr>
                                <td><strong>Remaining renewals:</strong></td>
                                <td><%= @contract.renewal_count %></td>
                            </tr>
                            <tr>
                                <td><strong>End Trigger:</strong></td>
                                <td><%= @contract.end_trigger_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Point of Contact:</strong></td>
                                <td>
                                <%= link_to @contract.point_of_contact.full_name, user_path(@contract.point_of_contact) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Vendor:</strong></td>
                                <td>
                                <%= link_to @contract.vendor.name, vendor_path(@contract.vendor) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Entity:</strong></td>
                                <td><%= @contract.entity.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Program:</strong></td>
                                <td><%= @contract.program.name %></td>
                            <tr>
                                <td><strong>Start Date:</strong></td>
                                <td><%= @contract.starts_at.strftime("%B %d, %Y") %></td>
                            </tr>
                            <tr>
                                <td><strong>End Date:</strong></td>
                                <td><%= @contract.ends_at.strftime("%B %d, %Y") %></td>
                            </tr>
                            <tr>
                                <td><strong>Requires Rebid:</strong></td>
                                <td>
                                    <% if @contract.requires_rebid%>
                                        <span class="tag is-success">Yes</span>
                                    <% else %>
                                        <span class="tag is-danger">No</span>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Amount:</strong></td>
                                <td><%= number_to_currency(@contract.amount_dollar) %> per <%= @contract.amount_duration %></td>
                            </tr>
                            <tr>
                                <td><strong>Status:</strong></td>
                                <td><%= contract_status_icon(@contract) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="card-footer">
                    <% if current_user.present? && current_user.level != UserLevel::THREE %>
                        <%= link_to "Edit this contract", edit_contract_path(@contract), class: "card-footer-item" %>
                        <%= link_to contract_path(@contract, params: { contract: { contract_status: contract_opposite_status(@contract) } }), data: { "turbo-method": :put }, class: "card-footer-item", id: "card-change-status" do %>
                            <span>
                                <% if @contract.contract_status == ContractStatus::IN_PROGRESS %>
                                    <span>Set to "Approved"</span>
                                <% else %>
                                    <span>Set to "In Review"</span>
                                <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user.present? && current_user.level == UserLevel::TWO %>
                        <%= link_to "Reject Contract", reject_contract_path(@contract), class: "card-footer-item"%>
                    <%end %>
                    <%# <%= link_to "Send expiry reminder", expiry_reminder_contract_path(@contract), class: "card-footer-item" %>
                </footer>

            </div>
        </div>
        <div class="column is-6">
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            Description
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td><strong>Key Words:</strong></td>
                                    <td><%= @contract.key_words %></td>
                                </tr>
                                <tr>
                                    <td><strong>Description:</strong></td>
                                    <td><%= @contract.description %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-file"></i>
                            </span>
                            Contract Documents
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <%= render partial: "contracts/contract_documents", locals: { contract: @contract, action: "download" } %>
                    </div>
                </div>
            </div>
        </div>
</div>
