<div id="contract-show">
    <div class="columns is-desktop">
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fas fa-list"></i>
                        </span>
                        Contract Details
                    </p>
                </header>
                <div class="card-content is-paddingless">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>Title:</strong></td>
                                <td><%= @contract.title %></td>
                            </tr>
                            <tr>
                                <td><strong>Number:</strong></td>
                                <td><%= @contract.number %></td>
                            </tr>
                            <tr>
                                <td><strong>Contract Type:</strong></td>
                                <td><%= @contract.contract_type_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Initial Term:</strong></td>
                                <td><%= @contract.initial_term_amount %> <%= @contract.initial_term_duration %><%= @contract.initial_term_amount > 1 ? "s" : "" %></td>
                            </tr>

                            <% if @contract.extension_count && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>Remaining extensions:</strong></td>
                                    <td><%= @contract.extension_count %></td>
                                </tr>
                            <% end %>
                            <% if @contract.extension_count && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>Extension Period:</strong></td>
                                    <td><%= @contract.extension_duration %> <%= @contract.extension_duration_units %><%= @contract.extension_duration > 1 ? "s" : "" %></td></td>
                                </tr>
                            <% end %>

                            <tr>
                                <td><strong>End Trigger:</strong></td>
                                <td><%= @contract.end_trigger_humanize %></td>
                            </tr>
                            <tr>
                                <td><strong>Point of Contact:</strong></td>
                                <td>
                                <%= link_to @contract.point_of_contact.full_name, user_path(@contract.point_of_contact) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Vendor:</strong></td>
                                <td>
                                <%= link_to @contract.vendor.name, vendor_path(@contract.vendor) %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Entity:</strong></td>
                                <td><%= @contract.entity.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Program:</strong></td>
                                <td><%= @contract.program.name %></td>
                            <tr>
                                <td><strong>Start Date:</strong></td>
                                <td><%= @contract.starts_at.strftime("%B %d, %Y") %></td>
                            </tr>
                            <% if @contract.ends_at && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>End Date:</strong></td>
                                    <td><%= @contract.ends_at.strftime("%B %d, %Y") %></td>
                                </tr>
                            <% end %>
                            <% if @contract.ends_at_final && contract.end_trigger == "limited_term"%>
                                <tr>
                                    <td><strong>Final End Date:</strong></td>
                                    <td><%= @contract.ends_at_final.strftime("%B %d, %Y") %></td>
                                </tr>
                            <% end %>
                            <tr>
                                <td><strong>Requires Rebid:</strong></td>
                                <td>
                                    <% if @contract.requires_rebid%>
                                        <span class="tag is-success">Yes</span>
                                    <% else %>
                                        <span class="tag is-danger">No</span>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Amount:</strong></td>
                                <td><%= number_to_currency(@contract.amount_dollar) %> per <%= @contract.amount_duration %></td>
                            </tr>
                             <tr>
                                <td><strong>Total Amount:</strong></td>
                                <% if @contract.total_amount == 0 && @contract.value_type == "Not Applicable" %>
                                    <td>Not Applicable</td>
                                <% else %>
                                    <td><%= number_to_currency(@contract.total_amount) %></td>
                                <% end %>
                                <td><%= @contract.value_type %> <%= @contract.total_amount%></td>
                            </tr>
                            <tr>
                                <td><strong>Status:</strong></td>
                                <td><%= contract_status_icon(@contract) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="card-footer distribute">
                    <% if current_user.present? && current_user.level != UserLevel::TWO %>
                        <% if @contract.contract_status == ContractStatus::IN_PROGRESS  %>
                            <%= link_to "Edit this contract", edit_contract_path(@contract), class: "card-footer-item" %>
                            <%= form_with model: @contract, url: [@contract, :log_submission], method: :post, remote: true, class: "card-footer-item" do |form| %>
                                <% form.submit 'Set to "In Review"', class: "card-footer-item"%>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user.present? && current_user.level == UserLevel::TWO%>
                        <% if @contract.contract_status == ContractStatus::IN_REVIEW %>
                            <%= form_with model: @contract, url: [@contract, :log_approval], method: :post, remote: true, class: "card-footer-item" do |form| %>
                                <% form.submit 'Set to "Approved"', class: "card-footer-item"%>
                            <% end %>
                            <%= link_to 'Set to "Rejected"', reject_contract_path(@contract), class: "card-footer-item" %>
                        <% elsif @contract.contract_status == ContractStatus::REJECTED %>
                            <%= form_with model: @contract, url: [@contract, :log_return], method: :post, remote: true, class: "card-footer-item" do |form| %>
                                <% form.submit 'Set to "In Progress"', class: "card-footer-item"%>
                            <% end %>
                        <% end %>
                    <% end %>
                </footer>
            </div>
        </div>
        <div class="column is-6">
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            Description
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td><strong>Key Words:</strong></td>
                                    <td><%= @contract.key_words %></td>
                                </tr>
                                <tr>
                                    <td><strong>Description:</strong></td>
                                    <td><%= @contract.description %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon">
                                <i class="fas fa-file"></i>
                            </span>
                            Contract Documents
                        </p>
                    </header>
                    <div class="card-content is-paddingless">
                        <%= render partial: "contracts/contract_documents", locals: { contract: @contract, action: "download" } %>
                    </div>
                </div>
            </div>
            <% if @decisions.present? %>
            <div class="column is-12 is-paddingless">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Contract Decision History</p>
                    </header>
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <% @decisions.each do |decision| %>
                            <tr>
                                <td>
                                    <strong>Event:</strong> 
                                    <% case decision.decision %>
                                    <% when ContractStatus::CREATED %>
                                        Created
                                    <% when ContractStatus::IN_PROGRESS %>
                                        Moved to "In Progress"
                                    <% when ContractStatus::IN_REVIEW %>
                                        Moved to "In Review"
                                    <% when ContractStatus::REJECTED %>
                                        Rejected
                                    <% when ContractStatus::APPROVED %>
                                        Approved
                                    <% end %>
                                    <br>
                                    <strong>User:</strong> <%= link_to decision.user.full_name, user_path(decision.user) %><br>
                                    <strong>Date:</strong> <%= decision.created_at %><br>
                                    <% if decision.reason.present? %>
                                        <strong>Reason:</strong> <%= decision.reason %><br>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% end %>
        </div>
</div>
