<div class="card" id="contract-form">
  <header class="card-header">
    <p class="card-header-title">
      Contract Information
    </p>
  </header>
  <%= form_with(model: contract) do |form| %>
    <% if contract.errors.any? %>
      <article class="message is-danger">
        <div class="message-header">
          <p><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <ul>
            <% contract.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </article>
    <% end %>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "button is-link" %>
      </div>
      <div class="control">
        <%= link_to "Back to contracts", contracts_path, class: "button is-danger" %>
      </div>
    </div>
  <% end %>
</div>
