<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  View Contracts
<% end %>

<div id="contracts">
  <table class="table">
    <thead>
      <tr>
        <th>
          <%= link_to "Title", :sort => "title" %>
        </th>
        <th>
          <%= link_to "Number", :sort => "number" %>
        </th>
        <th>
          <%= link_to "Point of Contact", :sort => "point_of_contact" %>
        </th>
        <th>
          <%= link_to "Vendor", :sort => "vendor" %>
        </th>
        <th>
          <%= link_to "Start Date", :sort => "starts_at" %>
        </th>
        <th>
          <%= link_to "End Date", :sort => "ends_at" %>
        </th>
        <th>
          <%= link_to "Amount", :sort => "amount_dollar" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td>
            <%= link_to contract.title, contract %>
          </td>
          <td><%= contract.number %></td>
          <td><%= contract.point_of_contact.first_name %> <%= contract.point_of_contact.last_name %></td>
          <td><%= contract.vendor.name %></td>
          <td><%= contract.starts_at %></td>
          <td><%= contract.ends_at %></td>
          <td><%= number_to_currency(contract.amount_dollar) %> per <%= contract.amount_duration %></td>
        </tr>
      <% end %>
    </tbody>
</div>

<%= link_to "New contract", new_contract_path %>
