<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= user.program_id %>
  </p>

  <p>
    <strong>Program manager:</strong>
    <%= user.program_manager %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Redirect user:</strong>
    <%= user.redirect_user_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= user.level %>
  </p>

</div>
