<div id="user-show">
    <div class="columns is-desktop">
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        User Details
                    </p>
                </header>
                <div class="card-content is-paddingless">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>First Name:</strong></td>
                                <td><%= @user.first_name %></td>
                            </tr>
                            <tr>
                                <td><strong>Last Name:</strong></td>
                                <td><%= @user.last_name %></td>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td><%= @user.email %></td>
                            </tr>
                            <tr>
                                <td><strong>Level:</strong></td>
                                <td><%= @user.level_int %></td>
                            </tr>
                            <tr>
                                <td><strong>Program Manager:</strong></td>
                                <td>
                                    <% if @user.is_program_manager%>
                                        <span class="tag is-success">Yes</span>
                                    <% else %>
                                        <span class="tag is-danger">No</span>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Active:</strong></td>
                                <td>
                                    <% if @user.is_active%>
                                        <span class="tag is-success">Yes</span>
                                    <% else %>
                                        <span class="tag is-danger">No</span>
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% if current_user.level != UserLevel::THREE %>
                    <footer class="card-footer">
                        <%= link_to "Edit this user", edit_user_path(@user), class: "card-footer-item" %>
                        <%= link_to "Redirect this user", redirect_user_path(@user), class: "card-footer-item" %>
                    </footer>
                <% end %>
            </div>
        </div>
</div>