


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :new_password, style: "display: block mt-2" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input" %>

  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password", style: "display: block" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", style: "display: block" %>
  </div>

  <div class="actions mt-2">
    <%= f.submit "Change my password", class: "button is-dark" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>




