<% content_for :title do %>
  Administration
<% end %>

<div id="admin-form">
  <div class="card">

    <%# Card header %>
    <header class="card-header">
      <p class="card-header-title">
        BVCOG CMS Configuration
      </p>
    </header>


    <%# Form %>
    <%= form_with(model: @bvcog_config, url: admin_path, method: :put, data: { turbo: false }) do |form| %>
    <%# Card content %>
    <div class="card-content">
      <div class="content">
        <p>
          <strong>
            This page is for configuring the BVCOG CMS.  Please use caution when making changes.
          </strong>
        </p>
      </div>

          <%# Errors %>
          <% if @bvcog_config.errors.any? %>
              <article class="message is-danger">
                <div class="message-header">
                  <p><%= pluralize(@bvcog_config.errors.count, "error") %> prohibited this configuration from being saved:</p>
                </div>
                <div class="message-body">
                  <ul>
                    <% @bvcog_config.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </article>
          <% end %>

          <%# Form starts here %>
              
          <%# Contract Document Storage %>
          <div class="field">
            <%= form.label :contracts_path, class: "directory-input-label" do %>
              <div class="icon-text">
                <span class="icon has-text-info" id="directory-contracts-upload-modal-open-btn">
                  <i class="fas fa-circle-info"></i>
                </span>
                <span>Contract Document Storage</span>
              </div>
            <% end %>
              <span class="help">
                Click the information icon above for more information.
              </span>
              <p class="control">
                <%= form.text_field :contracts_path, class: "input" %>
              </p>
          </div>

          <%# Reports Document Storage %>
          <div class="field">
            <%= form.label :reports_path, class: "directory-input-label" do %>
              <div class="icon-text">
                <span class="icon has-text-info" id="directory-reports-upload-modal-open-btn">
                  <i class="fas fa-circle-info"></i>
                </span>
                <span>Reports Storage</span>
              </div>
            <% end %>
              <span class="help">
                Click the information icon above for more information.
              </span>
              <p class="control">
                <%= form.text_field :reports_path, class: "input" %>
              </p>
          </div>
    </div>

    <%# Card Footer %>
    <footer class="card-footer">
      <div class="card-footer-item">
        <%= form.submit "Save", class: "button is-primary" %>
      </div>
    </footer>

    <% end %>
      
    
  </div>


<%# Directory Upload Explanation Modal %>
<div class="modal" id="directory-contracts-upload-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <div class="icon-text">
          <span class="icon">
            <i class="fas fa-folder-open"></i>
          </span>
          <p class="modal-card-title">Contract Documents Directory</p>
        </div>
    </header>
    <section class="modal-card-body">
      <div class="content">
        This directory is where uploaded contract documents will be stored.
        <hr>
        Note that this directory must be accessible and writable by the web server.
        <br>
        Also, existing uploaded contract documents will not be moved to this directory.
        Please be sure to contact an IT personell to move existing contract documents to this directory.
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button modal-close-btn">Close</button>
    </footer>
  </div>
</div>

<%# Directory Upload Explanation Modal %>
<div class="modal" id="directory-reports-upload-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <div class="icon-text">
          <span class="icon">
            <i class="fas fa-folder-open"></i>
          </span>
          <p class="modal-card-title">Reports Directory</p>
        </div>
    </header>
    <section class="modal-card-body">
      <div class="content">
        This directory is where generated reports will be stored.
        <hr>
        Note that this directory must be accessible and writable by the web server.
        <br>
        Also, existing reports will not be moved to this directory.
        Please be sure to contact an IT personell to move existing reports to this directory.
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button modal-close-btn">Close</button>
    </footer>
  </div>
</div>