<p style="color: green"><%= notice %></p>
<% content_for :title do %>
View Vendors
<% end %>
<div id="vendors">
<div class="card">
  <header class="card-header">
    <div class="columns is-justify-content-space-between">
      <div class="column is-1">
        <p class="card-header-title">
          <span class="icon">
          <i class="fa-solid fa-address-book"></i> 
          </span>
          Vendors
        </p>
      </div>
      <div id="vendors-table-header-inputs" class="column is-7">
        <div>
          <%= form_with(url: vendors_path, method: "GET", data: { controller: "form-submission", turbo_frame: "vendors", turbo_action: "advance" }) do |form| %>
          <%= form.text_field :search, data: { action: "input->form-submission#search" }, class: "input", placeholder: "Search by name", value: params[:search], autofocus: !params[:search].blank? , id: "search-input" %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <div class="card-content is-paddingless">
    <table class="table table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <% columns = [["Name", "name"], ["Reviews", "reviews"], ["Average Rating", "rating"]] %>
          <% columns.each do |col| %>
          <th>
            <%= link_to col[0], sort: col[1], order: (params[:order] == "asc" ? "desc" : "asc") %>
            <%# Sort Icon %>
            <% if params[:order] == "asc" and params[:sort] == col[1] %>
              <span class="icon">
                <i class="fas fa-sort-up"></i>
              </span>
            <% elsif params[:order] == "desc" and params[:sort] == col[1] %>
              <span class="icon">
                <i class="fas fa-sort-down"></i>
              </span>
            <% end %>
          </th>
          <% end %>
          <th>
            Last Reviewer
          </th>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
        <tr>
          <td><%= link_to vendor.name, vendor %></td>
          <td><%= vendor.vendor_reviews.count %></td>
          <td>
          <%= average_rating_stars(vendor) %>
          (<%= vendor.vendor_reviews.average(:rating).to_f.round(1) %>)
          </td>
          <td>
            <% if vendor.vendor_reviews.count > 0 %>
            <%= vendor.vendor_reviews.last.user.full_name %>
            <% else %>
            N/A
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <footer class="card-footer">
      <%= paginate @vendors %>
    </footer>
  </div>
</div>